<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Instructor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="top-bar">
        <a href="{{ url_for('auth.login') }}" class="back-button">Cerrar sesión</a>
        <div class="welcome-message">
            Bienvenido {{ nombre }}
        </div>
    </div>

    <div style="margin-top: 80px;">
        <a href="{{ url_for('clasesNoAdmin.mostrar_clases') }}" class="button">Ver clases disponibles</a>

        <form action="{{ url_for('instructor.anotarse_clase') }}" method="POST">
            <h3>Anotarse a una Clase</h3>
            <label for="clase">ID de la Clase:</label>
            <input type="text" id="clase" name="clase" required>
            <button type="submit">Anotarse</button>
        </form>

            <!-- Mensajes flash -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info mt-3">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <script>
            $(document).ready(function() {
                $('#registrarForm').on('submit', function(event) {
                    event.preventDefault(); // Previene el envío del formulario
                    const ci = $('#ci').val();
                    const ciError = $('#ciError');

                    // Valida la cédula
                    if (ci.length !== 8 || isNaN(ci)) {
                        ciError.text("La cédula debe tener exactamente 8 dígitos numéricos.").show();
                    } else {
                        ciError.hide();
                        // Si la cédula es válida, envía el formulario
                        this.submit();
                    }
                });
            });
        </script>
    </div>
</body>
</html>