<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clases disponibles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mostrarClases.css') }}">
</head>
<body>
    <h2>CLASES</h2>
    <table>
        <tr>
            <th>Actividad </th>
            <th>Costo </th>
            <th>Horarios </th>
        </tr>
        {% for clase in clases %}
        <tr>
            <td>{{ clase[1] }}</td>
            <td>{{ clase[2] }}</td>
            <td><a href="{{ url_for('turnosNoAdmin.mostrar_turnos', id=clase[0]) }}">Ver horarios</a></td>
        </tr>
        {% endfor %}
    </table>

    <!-- Mostrar el enlace adecuado según el rol -->
    {% if rol == 'instructor' %}
        <a href="{{ url_for('instructor.instructor_menu') }}">Volver al menú de Instructor</a>
    {% else %}
        <a href="{{ url_for('estudiante.estudiante_menu') }}">Volver al menú de Estudiante</a>
    {% endif %}
</body>
</html>
